body{
  justify-items: center;
  margin:10px;
}
.container{
  justify-content: center;
  justify-items: center;
  background-color:peachpuff;
  border:1px solid black;
  border-radius: 20px;
  text-align: center;
  width: 40em;
}
button{
  border:1px solid black;
  border-radius: 20px;
  background-color: chartreuse;
  padding: 20px;
  margin:20px;
}